h1 {
  color: var(--dark-theme);
  font-size: var(--heading-size);
  font-weight: var(--bold);
  margin-top: 15%;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    margin-top: 25%;
  }
}
