<main>
  <div class="welcome">
    <h1>Hello, Jon Doe.</h1>
    <p>
      It looks like you've been working hard. Lorem ipsum dolor sit amet
      consectetur, adipisicing elit. You can view your data below. You can
      delete your data entirely if you want, however, this is non reversible. To
      delete data click <span class="delete-account">here</span>.
    </p>
  </div>

  <div class="insights">
    <div class="accordion" id="accordionParent">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Summary for date - 08/11/2022
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionParent"
        >
          <div class="accordion-body">
            <p>On 08/11/2022, you have logged for 3 hours.</p>
            <button
              type="button"
              class="mt-3 custom-button btn btn-primary dark-button"
            >
              Delete this data
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="chart overflow">
    <canvas
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [type]="barChartType"
    >
    </canvas>
  </div>
</main>
