.form-center {
  box-shadow: var(--box-shadow);
}

main {
  margin-bottom: var(--margin-bottom);
  margin-top: 15%;
}

input::placeholder {
  color: var(--dark-theme);
  font-size: 12px;
  opacity: 0.5;
}

.row {
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

@media (max-width: 768px) {
  main {
    margin-top: 25%;
  }
}

@media (max-width: 768px) {
  main {
    margin-top: 25%;
  }
}
