<main>
  <div class="background-icons">
    <img src="../assets/background-icons.png" alt="" />
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="form-center">
        <form>
          <div class="mb-3">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" />
          </div>
          <p id="emailHelp" class="disclaimer">
            We will never share your data with anyone.
          </p>
          <button
            type="button"
            class="mt-3 custom-button btn btn-primary light-button"
          >
            Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
