<main>
  <div class="background-icons">
    <img src="../assets/background-icons.png" alt="" />
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="form-center">
        <form [formGroup]="signupForm">
          <div class="mb-3">
            <div class="d-flex justify-content-between">
              <label for="firstName" class="form-label"
                >First name
                <span *ngIf="checkRequirement('firstName')">*</span></label
              >
              <label *ngIf="signupForm.get('firstName').hasError('pattern')"
                >Please enter letters and numbers.</label
              >
            </div>

            <input
              formControlName="firstName"
              type="text"
              class="form-control name"
              id="firstName"
              [placeholder]="
                signupForm.get('firstName').touched ||
                (signupForm.get('firstName').hasError('required') &&
                  this.submitted)
                  ? this.invalidFirstName
                  : 'Please enter your first name'
              "
            />
          </div>
          <div class="mb-3">
            <div class="d-flex justify-content-between">
              <label for="lastName" class="form-label"
                >Last name
                <span *ngIf="checkRequirement('lastName')">*</span></label
              >
              <label *ngIf="signupForm.get('lastName').hasError('pattern')"
                >Please enter letters and numbers.</label
              >
            </div>
            <input
              formControlName="lastName"
              type="text"
              class="form-control name"
              id="lastName"
              [placeholder]="
                signupForm.get('lastName').touched ||
                (signupForm.get('lastName').hasError('required') &&
                  this.submitted)
                  ? this.invalidLastName
                  : 'Please enter your last name'
              "
            />
          </div>
          <div class="mb-3">
            <div class="d-flex justify-content-between">
              <label for="email" class="form-label"
                >Email <span *ngIf="checkRequirement('email')">*</span></label
              >
              <label *ngIf="signupForm.get('email').hasError('email')"
                >Please enter a valid email.</label
              >
            </div>

            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="email"
              [placeholder]="
                signupForm.get('email').touched ||
                (signupForm.get('email').hasError('required') && this.submitted)
                  ? this.invalidEmail
                  : 'Please enter your email'
              "
            />
          </div>
          <div class="mb-3">
            <div class="d-flex justify-content-between">
              <label for="password" class="form-label"
                >Password
                <span *ngIf="checkRequirement('password')">*</span></label
              >
              <label *ngIf="signupForm.get('password').hasError('minLength')"
                >Please enter a password of atleast 6 digits.</label
              >
            </div>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="password"
              [placeholder]="
                signupForm.get('password').touched ||
                (signupForm.get('password').hasError('required') &&
                  this.submitted)
                  ? this.invalidPassword
                  : 'Please enter your password'
              "
            />
          </div>
          <p id="emailHelp" class="disclaimer">
            Your privacy is protected by responsible data practices.
          </p>
          <button
            type="button"
            (click)="onSubmit()"
            class="mt-3 custom-button btn btn-primary light-button"
          >
            Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
</main>

<div *ngIf="!productionEnvironment" class="text-center debugger">
  {{ signupForm.value | json }}
  {{ signupForm.status | json }}
</div>
