/* You can add global styles to this file, and also import other style files */

* {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", Helvetica, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  --light-theme: #fef7ea;
  --dark-theme: #ee7b39;
  --absolute-black: #000000;
  --shadow-theme: #61391f;

  --regular: 400;
  --semi-bold: 600;
  --bold: 700;

  --margin: 2%;
  --margin-right: 2%;
  --margin-left: 2%;
  --margin-top: 2%;
  --margin-bottom: 2%;

  --padding: 5%;
  --padding-right: 2%;
  --padding-left: 2%;
  --padding-top: 2%;
  --padding-bottom: 2%;

  --border-radius: 5px;
  --border-size: 2px;

  --navigation-paragraph-size: 17px;
  --heading-size: 51px;
  --section-title-size: 17px;
  --section-paragraph-size: 17px;
  --footer-size: 17px;

  --input-label-size: 17px;
  --input-text-size: 17px;

  --accordion-title-size: 17px;
  --accordion-paragraph-size: 17px;
  --accordion-span-size: 17px;
  --accordion-header-height: 40px;

  --button-text-size: 17px;

  --button-padding-right: 5.5%;
  --button-padding-left: 5.5%;
  --button-padding-top: 1.5%;
  --button-padding-bottom: 1.5%;
}

body {
  background: var(--light-theme) !important;
}

.background-icons {
  pointer-events: none;
  opacity: 0.8;
  filter: blur(1px);
  position: absolute;
  z-index: -1;
  width: 80%;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

.form-center {
  background-color: var(--dark-theme);
  border-radius: var(--border-radius);
  padding: var(--padding);
}

.custom-button {
  padding-left: var(--button-padding-left) !important;
  padding-right: var(--button-padding-right) !important;
  padding-top: var(--button-padding-top) !important;
  padding-bottom: var(--button-padding-bottom) !important;

  font-weight: var(--semi-bold) !important;
  font-size: var(--button-text-size) !important;
  border-radius: var(--border-radius) !important;
  border: none !important;
}

.light-button,
.light-button:hover,
.light-button:active {
  background-color: var(--light-theme);
  --bs-btn-active-color: var(--dark-theme);
  --bs-btn-active-bg: var(--light-theme);

  background-color: var(--light-theme) !important;
  color: var(--dark-theme) !important;
}

.dark-button,
.dark-button:hover,
.dark-button:active {
  background-color: var(--dark-theme);
  --bs-btn-active-color: var(--light-theme);
  --bs-btn-active-bg: var(--dark-theme);
  background-color: var(--dark-theme) !important;
  color: var(--light-theme) !important;
}

label {
  color: var(--light-theme) !important;
  font-weight: var(--regular) !important;
  font-size: var(--section-paragraph-size) !important;
}

input {
  width: 80px;
  border-radius: var(--border-radius) !important;
  border: var(--border-size) var(--light-theme) !important;
  color: var(--dark-theme) !important;
  font-weight: var(--regular) !important;
  font-size: var(--section-paragraph-size) !important;
}

.current-active-navigation-item {
  color: var(--dark-theme);
  font-size: 18px;
  font-weight: var(--semi-bold);
  transition: 0.2s cubic-bezier(0.47, 0.01, 0.4, 0.99);
}

.center {
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

/* Overriding default browser styles and bootstrap styles */

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px;
  outline-width: 0;
  box-shadow: none !important;
}

/* 
*:focus {
  outline: 0px;
  outline-width: 0px;
  box-shadow: none !important;
} 
*/

form .form-control:focus,
button:focus {
  border-color: var(--dark-theme) !important;
  box-shadow: none;
}

@media (max-width: 768px) {
  input {
    width: 80px;
  }
}
@media (max-width: 500px) {
  :root {
    --margin: 1%;
    --margin-right: 1%;
    --margin-left: 1%;
    --margin-top: 1%;
    --margin-bottom: 1%;

    --padding: 5%;
    --padding-right: 1%;
    --padding-left: 1%;
    --padding-top: 1%;
    --padding-bottom: 1%;

    --border-radius: 5px;
    --border-size: 1px;

    --navigation-paragraph-size: 15px;
    --heading-size: 30px;
    --section-title-size: 15px;
    --section-paragraph-size: 15px;
    --footer-size: 15px;

    --input-label-size: 15px;
    --input-text-size: 15px;

    --accordion-title-size: 15px;
    --accordion-paragraph-size: 15px;
    --accordion-span-size: 15px;
    --accordion-header-height: 30px;

    --button-text-size: 15px;

    --button-padding-right: 5%;
    --button-padding-left: 5%;
    --button-padding-top: 2.5%;
    --button-padding-bottom: 2.5%;
  }

  .background-icons {
    width: 120%;
    right: 0px;
    bottom: 0px;
  }

  input {
    width: 80px;
  }
}
