nav {
  font-size: var(--navigation-paragraph-size) !important;
}

.navbar-brand {
  font-size: var(--navigation-paragraph-size) !important;
  display: flex;
  align-items: center;
  font-weight: var(--semi-bold);
}

.logo {
  margin-right: var(--margin-right);
}

.container-fluid > .navbar-brand {
  color: var(--dark-theme);
}

.navbar-links {
  justify-content: right;
}

.nav-link {
  color: var(--absolute-dark);
}

.custom-toggler .navbar-toggler-icon {
  border-radius: var(--border-radius);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(238, 123, 57)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  color: rgb(238, 123, 57);
  border-color: rgba(238, 123, 57, 0.5) !important;
  border-radius: var(--border-radius);
}

.btn-close {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='26px' height='25px' viewBox='0 0 26 25' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EClose button%3C/title%3E%3Cg id='Mockups' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M23.0223212,0.173754762 C23.375258,0.280469277 23.7082845,0.481891883 24.1021644,0.874073979 L24.4832728,1.2535397 C25.2660065,2.03289953 25.2687415,3.29922654 24.4893817,4.08196022 L24.4832728,4.08806912 L16.2229941,12.3127189 L24.4832728,20.5369309 C25.2660065,21.3162907 25.2687415,22.5826177 24.4893817,23.3653514 L24.4832728,23.3714603 L24.1021644,23.750926 C23.7082845,24.1431081 23.375258,24.3445307 23.0223212,24.4512452 C22.6693844,24.5579598 22.3085958,24.5579598 21.955659,24.4512452 C21.6027222,24.3445307 21.2696957,24.1431081 20.8758158,23.750926 L12.8049941,15.7157189 L4.73529531,23.750926 C4.34141546,24.1431081 4.00838891,24.3445307 3.65545212,24.4512452 C3.30251534,24.5579598 2.94172671,24.5579598 2.58878993,24.4512452 C2.23585314,24.3445307 1.90282659,24.1431081 1.50894673,23.750926 L1.12783831,23.3714603 C0.345104619,22.5921005 0.342369572,21.3257735 1.12172941,20.5430398 L1.12783831,20.5369309 L9.38699409,12.3127189 L1.12783831,4.08806912 C0.345104619,3.30870929 0.342369572,2.04238228 1.12172941,1.2596486 L1.12783831,1.2535397 L1.50894673,0.874073979 C1.90282659,0.481891883 2.23585314,0.280469277 2.58878993,0.173754762 C2.94172671,0.0670402465 3.30251534,0.0670402465 3.65545212,0.173754762 C4.00838891,0.280469277 4.34141546,0.481891883 4.73529531,0.874073979 L12.8049941,8.90871888 L20.8758158,0.874073979 C21.2696957,0.481891883 21.6027222,0.280469277 21.955659,0.173754762 C22.3085958,0.0670402465 22.6693844,0.0670402465 23.0223212,0.173754762 Z' id='Close-button' fill='%23FEF7EA'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  color: var(--light-theme);
  border-color: var(--light-theme);
  border-radius: var(--border-radius);
  opacity: 1;
}

.offcanvas-title {
  font-weight: var(--semi-bold);
}

.offcanvas {
  background-color: var(--dark-theme);
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border: none;
}

.offcanvas-header > a {
  color: var(--light-theme);
  font-size: var(--navigation-paragraph-size);
}

@media (max-width: 991px) {
  .desktop {
    display: none;
  }
  .nav-link {
    color: var(--light-theme);
  }
}

@media (min-width: 991px) {
  .mobile {
    display: none;
  }
  .nav-link {
    /* margin-left: 2%; */
    padding: 10px;
    color: var(--dark-theme);
  }

  .desktop {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    align-self: center;
  }
}
